.container {
  align-items: center;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main-card {
	background-color: var(--white);
  border-radius: 8px;
  display: block;
  justify-content: center;
  min-height: 400px;
  min-width: 400px;  
  width: 400px;    
}

